body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

/* 모바일 */
@media (max-width: 768px) {
}
/* 데스크탑 */
@media (min-width: 768px) {
  body {
    max-width: 768px;
  }
}

@font-face {
  font-family: "Jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 100% !important;
}
